<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voodoo94.app.technieks2015" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="TechNIEks 2015"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventActivity"
            android:label="@string/title_activity_event"
            android:theme="@style/CustomActionBarTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SponsersActivity"
            android:label="@string/title_activity_sponsers"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".EventDetailActivity"
            android:label="@string/title_activity_event_detail"
            android:theme="@style/MyActionBarEventDesc"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".PreTechActivity"
            android:label="@string/title_activity_pre_tech"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".EventDetail"
            android:label="@string/title_activity_event_detail"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Web"
            android:label="@string/title_activity_web"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
